.profilepage {
    width: 100vw;
    height: 100vh;
    background: #F2F2F2;
    background-size: cover;
    overflow-y: hidden;
}


.profileimage {
    width:126px;
    height:126px;
    border: 3px solid #ff9770;
    margin: 10px;
}


.parentbox {
    width: 841px;
    height:681px;
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
    
    
    
}
.profilebox {
    width: 841px;
    height: 150px;
    background: white;
    box-sizing:border-box;
      
}
.updatebutton {
    width: 100px;
    height: 35px;
    background: #403D39;
    float: right;
    display: flex;
    justify-content:space-around;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    margin-top:50px;
    margin-right:15px;
}
.cancelbutton {
    width: 100px;
    height: 35px;
    float: right;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border-radius: 10px;
    margin-top:50px;
    margin-right:15px;
}
.profile_info {
    width: 841px;
    height: 450px;
    background: 650px;
    background: white;
    margin-top: 30px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

   

}
.firstname, .lastname {
    width: 225px;
    height: 38px;
    border: orange 1px solid;
    margin: 10px;
}
.options {
    margin: 20px;
    width: 225px;
    height: 38px;
    
    display: inline-block;
    
}
