.head_parent_container {
    height: 60px;
    min-width: 1200px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .head_child_container {
    height: 50px;
    width: 80%;
    min-width: 1000px;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
  }

  .open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }

  .open-sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  
  .head_child_left {
    width: 20%;
    display: flex;
    align-items: center;
  }
  
  .head_title {
    color: #FFF;
    font-size: 30px;
    margin-right: 20px;
  }
  
  .home_img {
    height: 27px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .search_img {
    height: 27px;
    cursor: pointer;
    position: relative;
    top: 2px;
  }
  
  .head_child_mid {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orange-gradient {
    background-image: linear-gradient(97deg, #FF7A6E, #FF9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
  }
  
  .head_page {
    color: #FFF;
    font-size: 20px;
  }
  
  .head_child_right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .head_logout {
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
  }
