.dash_parent_container {
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .dash_child_container {
    width: 80%;
    min-width: 1000px;
  }

  .dash_content-container {
    background-color: #FFF;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  }
  

  .open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  
  .open-sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  
  .dash_child_top {
    display: flex;
    justify-content: center;
  }
  
  .dash_onboarding {
    width: 500px;
    height: 150px;
    display: flex;
    margin-left: 20px;
    box-sizing: border-box;
    padding: 15px;
  }
  
  .recommended_parent {
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .recommended_child {
    width: 841px;
  }
  
  .recommended_header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .recommended_header_span {
    font-size: 25px;
  }
  
  .recommended_select_span {
    position: absolute;
    right: 148px;
  }
  
  .recommended_select {
    position: absolute;
    right: 10px;
    font-size: 18px;
    width: 130px;
  }
  
  .recommended_users_parent {
    box-sizing: border-box;
    padding: 10px;
    height: 600px;
    width: 100%;
  }
  
  .recommended_users_child {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .recommended_users_child_empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  